.svg-logo-fill-color {
    fill: $white;
}

.svg-logo-stroke-color {
    fill: none;
    stroke: $white;
}

// .navbar-transparent:hover {
//     .svg-logo-fill-color {
//         fill: $blue;
//     }

//     .svg-logo-stroke-color {
//         fill: none;
//         stroke: $blue;
//     }
// }

#logo-index-svg {
    width: 40%;
    height: 40%;

    .svg-logo-fill-color {
        fill: $blue;
    }

    .svg-logo-stroke-color {
        fill: none;
        stroke: $blue;
    }
}

.thumb-post img {
    object-fit: none;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    width: 100%;
    max-height: 250px;
    margin-bottom: 1rem;
}

.item-sold-out img {
    filter: grayscale(100%);
}

@font-face {
    font-family: 'goudy_regular';
    src: url('../fonts/goudy_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Add your own custom CSS here... */