<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary border-bottom mx-0 p-0 flex-column 
            position-absolute w-100 z-index-30 navbar-dark navbar-transparent
            transition-all border-bottom">
    <div class=" w-100 pb-lg-0 pt-lg-0 pt-4 pb-3">
        <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">

            <!-- Logo-->
            <a class="navbar-brand fw-bold fs-3 mx-4 p-0 flex-shrink-0" href="./home.html">
                {{> logo/logo-full }}
            </a>
            <!-- / Logo-->

            <!-- Main Navigation-->
            <div class="ms-5 flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1"
                id="navbarNavDropdown">
                <!-- Mobile Nav Toggler-->
                <button
                    class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 position-absolute top-0 end-0 mt-3 me-2"
                    data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="ri-close-circle-line ri-2x"></i>
                </button>
                <!-- / Mobile Nav Toggler-->
                {{> menus/menu page=page }}
            </div>
            <!-- / Main Navigation-->

            <!-- Navbar Icons-->
            <ul class="list-unstyled mb-0 d-flex align-items-center">
                <!-- Navbar Toggle Icon-->
                <li class="d-inline-block d-lg-none">
                    <button
                        class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 d-flex align-items-center"
                        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ri-menu-line ri-lg align-middle"></i>
                    </button>
                </li>
                <!-- /Navbar Toggle Icon-->
            </ul>
            <!-- Navbar Icons-->

        </div>
    </div>
</nav>
<!-- / Navbar-->