<!-- Swiper Latest -->
<div class="swiper-container overflow-visible" id="wishlist-carousel-scrollbar">
  <div class="swiper-wrapper pb-5 pe-1" id="wishlist-item-wrapper">
    <!-- Item Card Fetched from WebService-->
  </div>

  <!-- Buttons-->
  <div
    class="swiper-btn swiper-disabled-hide swiper-prev swiper-btn-side btn-icon bg-dark text-white ms-3 shadow-lg mt-n5 ms-n4">
    <i class="ri-arrow-left-s-line ri-lg"></i>
  </div>
  <div
    class="swiper-btn swiper-disabled-hide swiper-next swiper-btn-side swiper-btn-side-right btn-icon bg-dark text-white me-n4 shadow-lg mt-n5">
    <i class="ri-arrow-right-s-line ri-lg"></i>
  </div>

  <!-- Add Scrollbar -->
  <div class="swiper-scrollbar"></div>

</div>
<!-- / Swiper Latest-->