<ul class="navbar-nav py-lg-2 mx-auto">
    <li class="nav-item me-lg-4 position-static">
        <a class="nav-link fw-bolder py-lg-4" href="#">
            Cérémonie
        </a>
    </li>
    <li class="nav-item me-lg-4 position-static">
        <a class="nav-link fw-bolder py-lg-4" href="#banner-venue">
            Reception
        </a>
    </li>
    <li class="nav-item me-lg-4">
        <a class="nav-link fw-bolder py-lg-4" href="#">
            Brunch
        </a>
    </li>
    <li class="nav-item me-lg-4">
        <a class="nav-link fw-bolder py-lg-4" href="#instagram-photos">
            Photos
        </a>
    </li>
    <li class="nav-item me-lg-4">
        <a class="nav-link fw-bolder py-lg-4" href="#wishlist">
            Liste de Mariage
        </a>
    </li>
</ul>