<!-- Footer-->
<footer class="bg-dark mt-10 {{configClassList}} {{classList}}">

    <!-- TOS -->
    <div class="container">
        <div
            class="text-white justify-content-between flex-column flex-md-row align-items-center d-flex pt-6 mt-6 px-0">
            <p class="small opacity-75">&copy; 2023 {{ config.templateName }} All Rights Reserved. Template by <a
                    class="text-white" href="https://github.com/supercairos">Romain Caire</a></p>
        </div>
    </div>
    <!-- TOS-->

</footer>
<!-- / Footer-->