<!-- Card Product-->
<div class="card position-relative h-100 card-listing hover-trigger">
    <div class="card-header">
        <picture class="position-relative overflow-hidden d-block bg-light">
            <img class="w-100 img-fluid position-relative z-index-10" title="" src="{{ img }}"
                alt="{{config.defaultImgAlt}}">
        </picture>
        {{#if img-hover}}
        <picture class="position-absolute z-index-20 start-0 top-0 hover-show bg-light">
            <img class="w-100 img-fluid" title="" src="{{ img-hover }}" alt="{{config.defaultImgAlt}}">
        </picture>
        {{/if}}
        <div class="card-actions" data-bs-toggle="modal" data-bs-target="#{{ id }}-modal">
            <span class="small text-uppercase tracking-wide fw-bolder text-center d-block">Participer</span>
        </div>
    </div>
    <div class="card-body px-0 text-center">
        <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center" data-bs-toggle="modal"
            data-bs-target="#{{ id }}-modal">{{ title }}</a>
        <p class="fw-bolder m-0 mt-2">{{ price }}{{ currency }}</p>
    </div>
</div>
<!--/ Card Product-->