<!-- Card Product-->
<div class="card card-listing hover-trigger" data-id="\{{ id }}">
    <div class="card-header">
        <picture class="overflow-hidden d-block bg-light" style="height: 280px">
            <img class="img-fluid w-100 h-100 z-index-10" title="" src="\{{ picture_url }}"
                alt="{{config.defaultImgAlt}}">
        </picture>
        \{{#if alt_picture_url }}
        <picture class="position-absolute z-index-20 start-0 top-0 hover-show bg-light">
            <img class="img-fluid w-100 h-100 img-fluid" title="" src="\{{ alt_picture_url }}"
                alt="{{config.defaultImgAlt}}">
        </picture>
        \{{/if}}
        \{{#unless soldout }}
        <div class="card-actions">
            <span class="small text-uppercase tracking-wide fw-bolder text-center d-block">Participer</span>
        </div>
        \{{/unless}}
    </div>
    <div class="card-body px-0 text-center">
        <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center">\{{ name }}</a>
        \{{#if soldout }}
        <p class="fw-bolder m-0 mt-2">Déjà offert</p>
        \{{else}}
        <p class="fw-bolder m-0 mt-2">\{{ raised }}\{{#if price}} / \{{ price }}\{{/if}}€</p>
        \{{/if}}
    </div>
</div>
<!--/ Card Product-->